{% extends 'backend/base.html.twig' %}

{% block title %}名额管理{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}



    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <h3 class="box-title">用户信息</h3>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>用户ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td>
                            {{ user.defaultUserAddress ? user.defaultUserAddress.name : '' }}
                        </td>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <td>
                            {{ user.defaultUserAddress ? user.defaultUserAddress.phone : '' }}
                        </td>
                    </tr>
                    <tr class="text-bold">
                        <th>剩余名额</th>
                        <td>{{ user.recommandStock }}</td>
                    </tr>
                    <tr>
                        <th>已用名额</th>
                        <td>{{ user.totalUserAccountOrdersAsRecommander }}</td>
                    </tr>
                    <tr>
                        <th>总名额</th>
                        <td>{{ user.totalRecommandStock }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {{ render(controller('App\\Controller\\Backend\\UserRecommandStockOrderController::index', {userId: user.id})) }}

    <a class="btn btn-danger" href="{{ path('user_stock_statistic') }}">{{ '返回用户名额管理'|trans }}</a>

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'UserAccountOrder'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'UserAccountOrder'} %}
{% endblock %}
