{% block dropzone_widget %}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        {%- if type == 'range' or type == 'color' -%}
            {# Attribute "required" is not supported #}
            {%- set required = false -%}
        {%- endif -%}
        {#<div class="fallback">#}
            {#<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
        {#</div>#}
        <div id="dropzone-{{ id }}" class="dropzone"></div>
        <script type="text/javascript">
            var everythingLoaded_{{ id }} = setInterval(function() {
                if (/loaded|complete/.test(document.readyState)) {
                    clearInterval(everythingLoaded_{{ id }});
                    init_{{ id }}(); // this is the function that gets called when everything is loaded
                }
            }, 10);
            function init_{{ id }}() {
                var myDropzone_{{ id }} = new Dropzone("div#dropzone-{{ id }}", {
                    url: "{{ path(route) }}",
                    paramName: "{{ name }}", // The name that will be used to transfer the file
                    maxFiles: {{ maxFiles }},
                    maxFilesize: {{ maxFilesize }}, // MB
                    maxThumbnailFilesize: {{ maxFilesize }}, // MB
                    acceptedFiles: '{{ acceptedFiles }}',
                    // previewTemplate: $('#previewTemplate').html(),
                    // previewsContainer: "#images",
                    uploadMultiple: {{ uploadMultiple }},
                    addRemoveLinks: true,
                    dictRemoveFile: '删除',
                    dictFileTooBig: "上传文件过大 (\{\{filesize\}\}MB). 最大允许上传: \{\{maxFilesize\}\}MB.",
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                        this.on("addedfile", function(file) {
                            if (this.files.length) {
                                var _i, _len;
                                for (_i = 0, _len = this.files.length; _i < _len - 1; _i++) // -1 to exclude current file
                                {
                                    if(this.files[_i].name === file.name && this.files[_i].size === file.size && this.files[_i].lastModifiedDate.toString() === file.lastModifiedDate.toString())
                                    {
                                        this.removeFile(file);
                                    }
                                }
                            }
                        });
                        this.on("success", function (file, response) {
                            if ($('div#dropzone-{{ id }}').find('div.dz-preview').length > {{ maxFiles }}) {
                                $('div#dropzone-{{ id }}').find('div.dz-preview')[0].remove();
                            }
                            var json = $.parseJSON(response)
                            if (json.status) {
                                $(file.previewElement).find('.dz-error-message').text('').hide();
                                file.previewElement.classList.add("dz-success");

                                {% if maxFiles > 1 %}
                                file._fileId = Dropzone.createElement('<input name="{{ full_name }}[' + json.fileId + '][fileId]" type="hidden" value="' + json.fileId + '"/>');
                                file.previewElement.appendChild(file._fileId);
                                file._priority = Dropzone.createElement('<div><label>优先级</label><br/><input class="input-sm" style="width:120px;" name="{{ full_name }}[' + json.fileId + '][priority]" type="number" value="0"/></div>');
                                file.previewElement.appendChild(file._priority);
                                {% else %}
                                file._fileId = Dropzone.createElement('<input name="{{ full_name }}" type="hidden" value="' + json.fileId + '"/>');
                                file.previewElement.appendChild(file._fileId);
                                {% endif %}
                            } else {
                                this.removeFile(file);
                                $(file.previewElement).find('.dz-error-message').text(json.error).show();
                                file.previewElement.classList.add("dz-error");
                            }
                        });
                        this.on('error', function (file, response) {
                            $(file.previewElement).find('.dz-error-message').text(response).show();
                            file.previewElement.classList.add("dz-error");
                        });
                        // preview file
                        this.on("thumbnail", function (file, dataUrl) {
                            if (file && !$(file.previewElement).find('input[type="hidden"]').length) {
                                $(file.previewElement).find('.dz-error-message').text('').hide();
                                $(file.previewElement).find('img').width(120).height(120);
                                file.previewElement.classList.add("dz-success");
                                file.previewElement.classList.add("dz-complete");

                                if (file.id) {
                                    {% if maxFiles > 1 %}
                                    file._id = Dropzone.createElement('<input name="{{ full_name }}[' + file.fileId + '][id]" type="hidden" value="' + file.id + '"/>');
                                    file.previewElement.appendChild(file._id);
                                    file._fileId = Dropzone.createElement('<input name="{{ full_name }}[' + file.fileId + '][fileId]" type="hidden" value="' + file.fileId + '"/>');
                                    file.previewElement.appendChild(file._fileId);
                                    file._priority = Dropzone.createElement('<div><label>优先级</label><br/><input class="input-sm" style="width:120px;" name="{{ full_name }}[' + file.fileId + '][priority]" type="number" value="' + file.priority + '"/></div>');
                                    file.previewElement.appendChild(file._priority);
                                    {% else %}
                                    file._fileId = Dropzone.createElement('<input name="{{ full_name }}" type="hidden" value="' + file.id + '"/>');
                                    file.previewElement.appendChild(file._fileId);
                                    {% endif %}
                                }
                            }
                        });
                    }
                });
                // preview file
                {% if data %}
                {% if data is iterable %}
                {% for d in data %}
                var previewFile{{ loop.index }} = { id: {{ d.id }}, fileId: {{ d.fileId }}, priority: {{ d.priority|default(0) }}, name: "{{ d.name }}", size: {{ d.size }} };
                // Call the default addedfile event handler
                myDropzone_{{ id }}.emit("addedfile", previewFile{{ loop.index }});
                // And optionally show the thumbnail of the file:
                myDropzone_{{ id }}.emit("thumbnail", previewFile{{ loop.index }}, "{{ path('imagePreview', {fileId: d.fileId}) }}");
                {% endfor %}
                {% else %}
                var previewFile = { id: {{ data.id }}, name: "{{ data.name }}", size: {{ data.size }} };
                // Call the default addedfile event handler
                myDropzone_{{ id }}.emit("addedfile", previewFile);
                // And optionally show the thumbnail of the file:
                myDropzone_{{ id }}.emit("thumbnail", previewFile, "{{ path('imagePreview', {fileId: data.id}) }}");
                {% endif %}
                {% endif %}
            }
        </script>
    {% endspaceless %}
{% endblock %}