{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('fos_user_security_login') }}"><b>CHI</b> Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">会员登录</p>

            <form name="TRACKING_USER_LOGIN" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="用户名/手机号码" autocomplete="off"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="consult-error-line">
                    {% if error %}
                        {% if error.messageKey == 'Invalid credentials.' %}
                            <label class="text-red" for="username">用户名/手机号码或密码不正确</label>
                        {% else %}
                            <label class="text-red" for="username">{{ error.messageKey|trans(error.messageData, 'security') }}</label>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="密码" autocomplete="new-password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="consult-error-line"><label class="error" for="password" style="display: none;"></label></div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> <span>自动登录</span>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">立即登录</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {#<a href="{{ path('fos_user_resetting_request') }}">忘记密码</a><br>#}
            {#<a href="path('fos_user_registration_register')" class="text-center">免费注册</a>#}

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock fos_user_content %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#remember_me').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
{% endblock %}
