{% extends 'backend/base.html.twig' %}

{% block title %}UserStatistics{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>用户ID</label>
                                <input type="number" name="userId" class="form-control" value="{{ form.userId }}"
                                       placeholder="按 用户ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>用户名</label>
                                <input type="text" name="username" class="form-control" value="{{ form.username }}"
                                       placeholder="按 用户名 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>年</label>
                                <select name="year" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in yearStart..yearEnd %}
                                        <option value="{{ i }}"{% if form.year == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>月</label>
                                <select name="month" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in 1..12 %}
                                        <option value="{{ i }}"{% if form.month == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>日</label>
                                <select name="day" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in 1..31 %}
                                        <option value="{{ i }}"{% if form.day == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">用户ID</th>
                                <th width="10%">用户昵称</th>
                                <th width="10%">收益总额</th>
                                <th width="10%">拼团收益总额</th>
                                <th width="10%">传销收益总额</th>
                                <th width="10%">最后收益拼团订单ID</th>
                                <th width="10%">最后收益产品名</th>
                                <th width="10%">最后收益时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.userStatistics.user.id}) }}" target="_blank" title="查看详情">
                                                {{ item.userStatistics.user.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.userStatistics.user.id}) }}" target="_blank" title="查看详情">
                                                {{ item.userStatistics.user.nickname }}
                                            </a>
                                        </td>
                                        <td>{{ item.rewardsTotal|default(0)|number_format }}</td>
                                        <td>{{ item.orderRewardsTotal|default(0)|number_format }}</td>
                                        <td>{{ item.userRewardsTotal|default(0)|number_format }}</td>
                                        <td>
                                            {% if item.userStatistics.user.lastRewardsGroupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.userStatistics.user.lastRewardsGroupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.userStatistics.user.lastRewardsGroupUserOrder.id|default }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.userStatistics.user.lastRewardsGroupUserOrder and item.userStatistics.user.lastRewardsGroupUserOrder.product %}
                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.userStatistics.user.lastRewardsGroupUserOrder.product.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.userStatistics.user.lastRewardsGroupUserOrder.product.title|default }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.userStatistics.user.lastRewardsGroupUserOrder.createdAt|default }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('user_statistics_info', {id: item.userStatistics.user.id}) }}"
                                                   title="查看详情">
                                                    <span class="fa fa-arrow-circle-right"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'UserStatistics'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'UserStatistics'} %}
{% endblock %}
