{% extends 'backend/base.html.twig' %}

{% block title %}UserStatistics Info{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">当前用户</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <div class="media">
                                                    <div class="media-left">
                                                        {% if userStatistics.user.avatarUrl %}
                                                            <img src="{{ userStatistics.user.avatarUrl }}" alt="MaterialPro" class="media-object"
                                                                 style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                        {% endif %}
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <h5>用户ID: {{ userStatistics.user.id }}</h5>
                                                            <h5>用户昵称: {{ userStatistics.user.nickname }}</h5>
                                                            <h5>总收益: ￥{{ userStatistics.user.totalRewards|default(0)|number_format }}</h5>
                                                            <h5>订单收益: ￥{{ userStatisticsTotal.orderRewardsTotal|default(0)|number_format }}</h5>
                                                            <h5>传销收益: ￥{{ userStatisticsTotal.userRewardsTotal|default(0)|number_format }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">上线用户</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <div class="media">
                                                    <div class="media-left">
                                                        {% if userStatistics.user.parentUser and userStatistics.user.parentUser.avatarUrl %}
                                                            <img src="{{ userStatistics.user.parentUser.avatarUrl }}" alt="MaterialPro" class="media-object"
                                                                 style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                        {% endif %}
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <h5>用户ID: {{ userStatistics.user.parentUser.id|default }}</h5>
                                                            <h5>用户昵称: {{ userStatistics.user.parentUser.nickname|default }}</h5>
                                                            <h5>总收益: ￥{{ userStatistics.user.parentUser.totalRewards|default(0)|number_format }}</h5>
                                                            <h5>订单收益: ￥{{ parentUserStatisticsTotal.orderRewardsTotal|default(0)|number_format }}</h5>
                                                            <h5>传销收益: ￥{{ parentUserStatisticsTotal.userRewardsTotal|default(0)|number_format }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">订单收益列表</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">拼团ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">团长用户ID</th>
                                                <th width="10%">收益金额</th>
                                                <th width="10%">收益时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if userStatistics.user.groupUserOrders.count %}
                                                {% for item in userStatistics.user.groupUserOrders %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_order_info', {'id': item.groupOrder.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupOrder.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.groupOrder.product.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupOrder.product.title }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupOrder.user.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupOrder.user.id }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.orderRewards }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="6" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="6">总订单收益({{ userStatisticsTotal.orderRewardsTotal|default(0)|number_format }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">传销收益列表</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">拼团ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">下线用户ID</th>
                                                <th width="10%">收益金额</th>
                                                <th width="10%">收益时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if userStatistics.user.groupUserOrderRewards.count %}
                                                {% for item in userStatistics.user.groupUserOrderRewards %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.groupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_order_info', {'id': item.groupUserOrder.groupOrder.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.groupOrder.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.groupUserOrder.groupOrder.product.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.groupOrder.product.title }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupUserOrder.user.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.user.id }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.userRewards }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="6" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="6">总传销收益({{ userStatisticsTotal.userRewardsTotal|default(0)|number_format }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
