{% extends 'backend/base.html.twig' %}

{% block title %}二级分类{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('category_new', {'parentId': parentId}) }}" type="button" class="btn btn-info pull-right">添加二级分类</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input type="text" name="name" class="form-control" value="{{ form.name }}"  placeholder="按二级分类名查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="6%">ID</th>
                                <th width="10%">二级分类</th>
                                <th width="10%">优先级(越大越靠前)</th>
                                <th width="10%">分类名称</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.priority }}</td>
                                        <td>{{ item.parentCategory.name }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('category_edit', {'id': item.id, 'parentId': item.parentCategory.id}) }}" title="修改">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="10" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'User'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            // bind daterangepicker
            var timeFormat = 'YYYY-MM-DD';
            var $createdAtStart = $('input[name="createdAtStart"]');
            var $createdAtEnd = $('input[name="createdAtEnd"]');
            $createdAtStart.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtEnd.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').minDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 00:00:00');
            });
            $createdAtEnd.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtStart.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').maxDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 23:59:59');
            });
        });
    </script>
    {% include '/backend/includes/delete.js.html.twig' with {title: 'User'} %}
{% endblock %}