{{ form_start(form) }}
<div class="row col-sm-12 col-md-6">
    <div class="form-group">
        <label class="control-label">KEY</label>
        <h4>{{ projectRewardsMeta.metaKey }}</h4>
    </div>
    <div class="form-group{% if form.memo.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.memo) }}
        {{ form_errors(form.memo) }}
        {{ form_widget(form.memo) }}
        {{ form_help(form.memo) }}
    </div>
    <div class="form-group{% if form.groupOrderRewardsRate.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.groupOrderRewardsRate) }}
        {{ form_errors(form.groupOrderRewardsRate) }}
        {{ form_widget(form.groupOrderRewardsRate) }}
        {{ form_help(form.groupOrderRewardsRate) }}
    </div>
    <div class="form-group{% if form.groupOrderUserRewardsRate.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.groupOrderUserRewardsRate) }}
        {{ form_errors(form.groupOrderUserRewardsRate) }}
        {{ form_widget(form.groupOrderUserRewardsRate) }}
        {{ form_help(form.groupOrderUserRewardsRate) }}
    </div>
    <div class="form-group{% if form.regularOrderRewardsRate.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.regularOrderRewardsRate) }}
        {{ form_errors(form.regularOrderRewardsRate) }}
        {{ form_widget(form.regularOrderRewardsRate) }}
        {{ form_help(form.regularOrderRewardsRate) }}
    </div>
    <div class="form-group{% if form.regularOrderUserRewardsRate.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.regularOrderUserRewardsRate) }}
        {{ form_errors(form.regularOrderUserRewardsRate) }}
        {{ form_widget(form.regularOrderUserRewardsRate) }}
        {{ form_help(form.regularOrderUserRewardsRate) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a href="{{ path('project_rewards_meta_sync') }}" class="btn btn-danger">更新产品返现</a>
</div>
{{ form_end(form) }}