{% extends 'backend/base.html.twig' %}

{% block title %}账户管理{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}


    <div class="box">
        <div class="box-body">
            <div class="table-responsive col-md-6">
                <h3 class="box-title">用户信息</h3>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>用户ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td>{{ user.avatarUrl }}</td>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <th>账户余额</th>
                        <td>{{ user.userAccountTotal }}</td>
                    </tr>
                    <tr>
                        <th>已提现总数</th>
                        <td>{{ user.withdrawedTotal }}</td>
                    </tr>
                    <tr>
                        <th>提现中</th>
                        <td>￥{{ user.withdrawingTotal }}</td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive col-md-6">
                <h3 class="box-title">推荐人信息</h3>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>用户ID</th>
                        <td>{{ user.parentUser ? user.parentUser.id }}</td>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td>{{ user.parentUser ? user.parentUser.avatarUrl }}</td>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <td>{{ user.parentUser ? user.parentUser.phone }}</td>
                    </tr>
                    <tr>
                        <th>账户余额</th>
                        <td>{{ user.parentUser ? user.parentUser.userAccountTotal }}</td>
                    </tr>
                    <tr>
                        <th>已提现总数</th>
                        <td>{{ user.parentUser ? user.parentUser.withdrawedTotal }}</td>
                    </tr>
                    <tr>
                        <th>提现中</th>
                        <td>￥{{ user.parentUser ? user.parentUser.withdrawingTotal }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">交易总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('user_account_order_new', {'userId': user.id}) }}" type="button"
                       class="btn btn-info pull-right">添加</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">交易ID</th>
                                <th class="col-md-2">创建时间</th>
                                <th class="col-md-2">更新时间</th>
                                <th class="col-md-1">交易类型</th>
                                <th class="col-md-1">金额</th>
                                <th class="col-md-1">支付状态</th>
                                <th class="col-md-1">会员升级订单</th>
                                <th class="col-md-2">备注</th>
                                <th class="col-md-1 text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.createdAtFormatted }}</td>
                                        <td>{{ item.updatedAtFormatted }}</td>
                                        <td>{{ item.userAccountOrderTypeText }}</td>
                                        <td>￥{{ item.amount }}</td>
                                        <td>{{ item.paymentStatusText }}</td>
                                        <td>{{ item.upgradeUserOrder ? item.upgradeUserOrder.id : null }}</td>
                                        <td>{{ item.memo }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('user_account_order_edit', {'id': item.id}) }}"
                                                   title="修改">
                                                    <span class="fa fa-edit"></span>
                                                </a>&nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="8" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
            <div>
                <a class="btn btn-danger" href="{{ path('user_account_order_statistic') }}">{{ '返回账户管理'|trans }}</a>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'UserAccountOrder'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'UserAccountOrder'} %}
{% endblock %}
