{% extends 'backend/base.html.twig' %}

{% block title %}提现订单{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">提现订单号</th>
                                <th class="col-md-2">用户</th>
                                <th class="col-md-2">银行</th>
                                <th class="col-md-2">银行账户号</th>
                                <th class="col-md-1">银行账户名</th>
                                <th class="col-md-1">提现中数额</th>
                                <th class="col-md-1">账户余额</th>
                                <th class="col-md-1">推荐人</th>
                                <th class="col-md-1 text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr id="order_{{ item.id }}">
                                        <td>
                                            <a href="{{ path('user_account_order_edit', {'id': item.id}) }}">
                                                {{ item.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_account_order_index', {'userId': item.user.id}) }}">
                                                {{ item.user }}
                                            </a>
                                        </td>
                                        <td>{{ item.user.bank }}</td>
                                        <td>{{ item.user.bankAccountNumber }}</td>
                                        <td>{{ item.user.bankAccountName }}</td>
                                        <td>￥{{ item.amount }}</td>
                                        <td>￥{{ item.user.userAccountTotal }}</td>
                                        <td>{{ item.user.recommanderName }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="payBtn" href="javascript:void(0)"
                                                   data-id="{{ item.id }}"
                                                   title="确认付钱">
                                                    <span class="fa fa-database"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="payWithdrawOrder" action="#" method="post">
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_token" value="">
                    <input type="hidden" name="userAccountOrderId" value="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">请输入银行流水单号已确认付钱</h4>
                    </div>
                    <div class="modal-body">
                        <div>付款信息</div>
                        <div class="paymentInfo alert alert-info"></div>
                        <div class="well">
                            <label>流水单号</label>
                            <input class="form-control" type="text" name="memo" value="" required="true">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-danger" data-dismiss="modal">取消</a>
                        <input class="submit btn btn-primary" type="submit" value="确定"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">

        $(function () {
            $('.payBtn').on('click', function (e) {
                e.preventDefault();
                var userAccountOrderId = ($(this).data('id'));


                var row = $('#order_' + userAccountOrderId);
                var bankInfo = row.find("td:nth-child(3)").html()
                    + ' ' + row.find("td:nth-child(4)").html()
                    + ' ' + row.find("td:nth-child(5)").html()
                    + ' 付款 ' + row.find("td:nth-child(6)").html();

                $('#modal-payment').find('.paymentInfo').html(bankInfo);

                $('#modal-payment').find('input[name=userAccountOrderId]').val(userAccountOrderId);
                $('#modal-payment form').attr("action", $(this).data('url'));
                $('#modal-payment form input[name="_token"]').val($(this).data('token'));
                $('#modal-payment').modal('show');
            });
        });
    </script>

{% endblock %}

