{{ form_start(form) }}
<div class="row col-sm-12 col-md-12">
    <div class="form-group">
        <label class="control-label">KEY</label>
        <span>{{ project_share_metum.metaKey }}</span>
    </div>
    <div class="form-group">
        <label class="control-label">场景</label>
        <span>{{ project_share_metum.shareSceneText }}</span>
    </div>
    <div class="form-group">
        <label class="control-label">类型</label>
        <span>{{ project_share_metum.shareType }}</span>
    </div>
    {{ form_widget(form) }}
    <a class="btn btn-danger" href="{{ path('project_share_meta_index') }}">{{ '返回分享配置'|trans }}</a>
    <button class="btn btn-primary">{{ button_label|default('提交') }}</button>
</div>
{{ form_end(form) }}