{% extends 'backend/base.html.twig' %}

{% block title %}会员升级订单{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% include "backend/includes/app.session.flashbag.html.twig" %}
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive col-md-4">
                        <h3 class="box-title">交易信息</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>会员升级订单号</th>
                                <td>{{ upgrade_user_order.id }}</td>
                            </tr>
                            <tr class="text-bold">
                                <th>状态</th>
                                <td>{{ upgrade_user_order.statusText }}</td>
                            </tr>
                            <tr>
                                <th>用户</th>
                                <td>{{ upgrade_user_order.user }}</td>
                            </tr>
                            <tr>
                                <th>会员等级</th>
                                <td>{{ upgrade_user_order.oldUserLevelText }} -> {{ upgrade_user_order.userLevelText }}</td>
                            </tr>
                            <tr>
                                <th>订单金额</th>
                                <td>￥{{ upgrade_user_order.total }}</td>
                            </tr>
                            <tr>
                                <th>产品订单</th>
                                <td>
                                    <a href="{{ path('group_user_order_info', {'id': upgrade_user_order.groupUserOrder.id}) }}">
                                    {{ upgrade_user_order.groupUserOrder }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>创建时间</th>
                                <td>{{ upgrade_user_order.createdAtFormatted }}</td>
                            </tr>
                            <tr>
                                <th>更新时间</th>
                                <td>{{ upgrade_user_order.updatedAtFormatted }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-responsive col-md-8">
                        <h3 class="box-title">
                            佣金信息
                            {% if (upgrade_user_order.isApproved) %}
                                <span class="fa fa-check-square icon-cog text-green ">
                                    已存入账户
                                </span>
                            {% else %}
                                <span class="fa fa-window-close icon-cog text-red ">
                                    未存入账户
                                </span>
                            {% endif %}
                        </h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="col-md-3">用户</th>
                                <th class="col-md-3">交易类型	</th>
                                <th class="col-md-3">佣金</th>
                                <th class="col-md-3">用户账单号</th>
                            </tr>
                            {% for userAccountOrder in userAccountOrders %}
                            <tr>
                                <td>
                                    <a href="{{ path('user_account_order_index', {'userId': userAccountOrder.user.id}) }}">
                                        {{ userAccountOrder.user }}
                                    </a>
                                </td>
                                <td>{{ userAccountOrder.userAccountOrderTypeText }}</td>
                                <td>￥{{ userAccountOrder.amount }}</td>
                                <td>
                                    {% if userAccountOrder.id %}
                                    <a href="{{ path('user_account_order_edit', {'id': userAccountOrder.id}) }}">
                                        {{ userAccountOrder.id }}
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- general form elements disabled -->

            {{ render(controller('App\\Controller\\Backend\\UpgradeUserOrderPaymentController::index', {upgradeUserOrderId: upgrade_user_order.id})) }}

            {% if isDisabled == false %}
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">认证推荐人</h3>                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/user/_form.verifyParent.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        处理会员升级订单
                    </h3>
                    <label class="text text-red">（注："已通过"会触发推荐人与讲师分钱,如推荐人未认证则不得钱）</label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/upgrade_user_order/_form.edit.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>
            {% endif %}

            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <a class="btn btn-danger" href="{{ path('upgrade_user_order_index') }}">{{ '返回会员升级订单管理'|trans }}</a>
{% endblock %}