{% extends 'backend/base.html.twig' %}

{% block title %}会员升级订单{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <h3 class="box-title">交易信息</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>会员升级订单号</th>
                                <td>{{ upgrade_user_order.id }}</td>
                            </tr>
                            <tr>
                                <th>旧会员等级</th>
                                <td>{{ upgrade_user_order.user.userLevelText }}</td>
                            </tr>
                            <tr>
                                <th>新会员等级</th>
                                <td>{{ upgrade_user_order.userLevelText }}</td>
                            </tr>
                            <tr>
                                <th>订单金额</th>
                                <td>￥{{ upgrade_user_order.total }}</td>
                            </tr>
                            <tr>
                                <th>用户ID</th>
                                <td>{{ upgrade_user_order.user.id }}</td>
                            </tr>
                            <tr>
                                <th>姓名</th>
                                <td>{{ upgrade_user_order.user.name }}</td>
                            </tr>
                            <tr>
                                <th>电话</th>
                                <td>{{ upgrade_user_order.user.phone }}</td>
                            </tr>
                            <tr>
                                <th>创建时间</th>
                                <td>{{ upgrade_user_order.createdAtFormatted }}</td>
                            </tr>
                            <tr>
                                <th>更新时间</th>
                                <td>{{ upgrade_user_order.updatedAtFormatted }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- general form elements disabled -->


            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">认证推荐人</h3>                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/user/_form.verifyParent.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box">
                <div class="box-header with-border">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">编辑会员升级订单</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {{ include('backend/upgrade_user_order/_form.edit.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>


            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->


    {{ render(controller('App\\Controller\\Backend\\UpgradeUserOrderPaymentController::index', {upgradeUserOrderId: upgrade_user_order.id})) }}
    <a class="btn btn-danger" href="{{ path('upgrade_user_order_index') }}">{{ '返回会员升级订单管理'|trans }}</a>
{% endblock %}