{% extends 'backend/base.html.twig' %}

{% block title %}注册管理{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">ID</th>
                                <th class="col-md-4">课程</th>
                                <th class="col-md-2">讲师</th>
                                <th class="col-md-2">状态</th>
                                <th class="col-md-1">学生注册数</th>
                                <th class="col-md-1 text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.teacher.name }}</td>
                                        <td>{{ item.product.statusText }}</td>
                                        <td>{{ item.totalStudentUsers }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('course_student_index', {'courseId': item.id}) }}" title="学生报到">
                                                    <span class="fa fa-database"></span>
                                                </a>&nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'CourseStudent'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'CourseStudent'} %}
{% endblock %}
