{{ form_start(form) }}
<div class="row">
    <div class="form-group col-md-3{% if form.username.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_help(form.username) }}
    </div>
    <div class="form-group col-md-3{% if form.password.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_help(form.password) }}
    </div>
    <div class="form-group col-md-3{% if form.roles.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.roles) }}
        {{ form_errors(form.roles) }}
        {{ form_widget(form.roles) }}
        {{ form_help(form.roles) }}
    </div>
    <div class="form-group col-md-3{% if form.enabled.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.enabled) }}
        {{ form_errors(form.enabled) }}
        {{ form_widget(form.enabled) }}
        {{ form_help(form.enabled) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3{% if form.pendingTotalRewards.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.pendingTotalRewards) }}
        {{ form_errors(form.pendingTotalRewards) }}
        {{ form_widget(form.pendingTotalRewards) }}
        {{ form_help(form.pendingTotalRewards) }}
    </div>
    <div class="form-group col-md-3{% if form.totalRewards.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.totalRewards) }}
        {{ form_errors(form.totalRewards) }}
        {{ form_widget(form.totalRewards) }}
        {{ form_help(form.totalRewards) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3{% if form.nickname.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.nickname) }}
        {{ form_errors(form.nickname) }}
        {{ form_widget(form.nickname) }}
        {{ form_help(form.nickname) }}
    </div>
    <div class="form-group col-md-3{% if form.avatarUrl.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.avatarUrl) }}
        {{ form_errors(form.avatarUrl) }}
        {{ form_widget(form.avatarUrl) }}
        {{ form_help(form.avatarUrl) }}
    </div>
    <div class="form-group col-md-3{% if form.gender.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.gender) }}
        {{ form_errors(form.gender) }}
        {{ form_widget(form.gender) }}
        {{ form_help(form.gender) }}
    </div>
    <div class="form-group col-md-3{% if form.location.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.location) }}
        {{ form_errors(form.location) }}
        {{ form_widget(form.location) }}
        {{ form_help(form.location) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3{% if form.wxOpenId.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.wxOpenId) }}
        {{ form_errors(form.wxOpenId) }}
        {{ form_widget(form.wxOpenId) }}
        {{ form_help(form.wxOpenId) }}
    </div>
    <div class="form-group col-md-3{% if form.wxUnionId.vars.errors|length %} has-error{% endif %}">
        {{ form_label(form.wxUnionId) }}
        {{ form_errors(form.wxUnionId) }}
        {{ form_widget(form.wxUnionId) }}
        {{ form_help(form.wxUnionId) }}
    </div>
</div>
{{ form_widget(form) }}
<a class="btn btn-danger" href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}