{{ form_start(verifyParentForm) }}
    <label>
        最近一次分享来自：
    </label>
    <label class="text-blue">
        {{ user.recommanderName }}
    </label>
    <h3 class="box-title">
        推荐人
        {% if user.isRecommanderVerified %}
             <span class="fa fa-check-square icon-cog text-green ">
                已认证
             </span>
        {% else %}
             <span class="fa fa-window-close icon-cog text-red ">
                未认证
             </span>
         {% endif %}
    </h3>
    {{ form_widget(verifyParentForm) }}
    <button class="btn btn-primary">{{ button_label|default('提交') }}</button>
{{ form_end(verifyParentForm) }}
