{{ form_start(form) }}
    {{ form_widget(form) }}
<a class="btn btn-danger" href="{{ path('user_index') }}">{{ '返回用户管理' |trans }}</a>
<button class="btn btn-primary">{{ button_label|default('提交') }}</button>
{{ form_end(form) }}