{% extends 'backend/base.html.twig' %}

{% block title %}用户管理{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('user_new') }}" type="button" class="btn btn-info pull-right">添加后台用户</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>用户ID</label>
                                <input type="number" name="userId" class="form-control" value="{{ form.userId > 0 ? form.userId : '' }}"
                                       placeholder="按 用户ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>姓名或昵称</label>
                                <input type="text" name="username" class="form-control" value="{{ form.username }}"
                                       placeholder="按姓名或昵称查询">
                            </div>
                            <div class="col-md-1 form-group">
                                <label>用户角色</label>
                                <select name="role" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for role, text in roles %}
                                        <option value="{{ role }}"{% if role == form.role %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 form-group">
                                <label>会员等级</label>
                                <select name="userLevel" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for userLevel, text in userLevels %}
                                        <option value="{{ userLevel }}"{% if userLevel == form.userLevel %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>创建时间</label>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <input type="text" name="createdAtStart" class="form-control" value="{{ form.createdAtStart }}"
                                               placeholder="开始时间" autocomplete="off">
                                    </div>
                                    <div class="col-xs-1"> ~ </div>
                                    <div class="col-xs-5">
                                        <input type="text" name="createdAtEnd" class="form-control" value="{{ form.createdAtEnd }}"
                                               placeholder="结束时间" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">用户ID</th>
                                <th width="10%">推荐人</th>
                                <th width="10%">昵称</th>
                                <th width="10%">姓名</th>
                                <th width="10%">电话</th>
                                <th width="10%">会员等级</th>
                                <th width="10%">用户角色</th>
                                <th width="10%">上次登录时间</th>
                                <th width="10%">创建时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.user.id }}</td>
                                        <td>
                                            {% if item.user.parentUser %}
                                                {{ item.user.parentUser }}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.user.nickname }}</td>
                                        <td>{{ item.user.name }}</td>
                                        <td>{{ item.user.phone }}</td>
                                        <td>{{ item.user.userLevelText }}</td>
                                        <td>{{ item.user.roleText }}</td>
                                        <td>{{ item.user.lastLogin ? item.user.lastLogin|date : '' }}</td>
                                        <td>{{ item.user.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('user_personal_edit', {'id': item.user.id}) }}" title="查看详情">
                                                    <span class="fa fa-address-card"></span>
                                                </a>
                                                &nbsp;
                                                {% if is_granted('ROLE_ADMIN') and item.user.hasAdminRoles %}
                                                    <a href="{{ path('user_edit', {'id': item.user.id}) }}" title="修改">
                                                        <span class="fa fa-lock icon-cog {% if item.user.isLocked %} text-red {% else %} text-green{% endif %}"></span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="10" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'User'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            // bind daterangepicker
            var timeFormat = 'YYYY-MM-DD';
            var $createdAtStart = $('input[name="createdAtStart"]');
            var $createdAtEnd = $('input[name="createdAtEnd"]');
            $createdAtStart.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtEnd.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').minDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 00:00:00');
            });
            $createdAtEnd.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtStart.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').maxDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 23:59:59');
            });
        });
    </script>
    {% include '/backend/includes/delete.js.html.twig' with {title: 'User'} %}
{% endblock %}
