{% extends 'backend/base.html.twig' %}

{% block title %}User{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('user_new') }}" type="button" class="btn btn-info pull-right">添加</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>用户ID</label>
                                <input type="number" name="userId" class="form-control" value="{{ form.userId }}"
                                       placeholder="按 用户ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>用户名</label>
                                <input type="text" name="username" class="form-control" value="{{ form.username }}"
                                       placeholder="按 用户名 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>角色</label>
                                <select name="role" class="form-control chosen">
                                    {% for role, text in roles %}
                                        <option value="{{ role }}"{% if role == form.role %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>创建时间</label>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <input type="text" name="createdAtStart" class="form-control" value="{{ form.createdAtStart }}"
                                               placeholder="开始时间">
                                    </div>
                                    <div class="col-xs-1"> ~ </div>
                                    <div class="col-xs-5">
                                        <input type="text" name="createdAtEnd" class="form-control" value="{{ form.createdAtEnd }}"
                                               placeholder="结束时间">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">用户ID</th>
                                <th width="10%">用户头像</th>
                                <th width="10%">消费总额</th>
                                <th width="10%">总分享数量</th>
                                <th width="10%">有效下线</th>
                                <th width="10%">总收益</th>
                                <th width="10%">上次登录时间</th>
                                <th width="10%">创建时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.user.id }}</td>
                                        <td>
                                            {% if item.user.avatarUrl %}
                                                <img src="{{ item.user.avatarUrl }}" width="40" height="40"/>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.spentTotal|default(0)|number_format }}</td>
                                        <td>{{ item.sharedNum|default(0) }}</td>
                                        <td>{{ item.childrenNum|default(0) }}</td>
                                        <td>{{ item.user.totalRewards|number_format }}</td>
                                        <td>{{ item.user.lastLogin ? item.user.lastLogin|date : '' }}</td>
                                        <td>{{ item.user.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('user_info', {'id': item.user.id}) }}" title="查看详情">
                                                    <span class="fa fa-arrow-circle-right"></span>
                                                </a>
                                                {#
                                                <a href="{{ path('user_edit', {'id': item.id}) }}" title="修改">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>&nbsp;
                                                <a class="delete" data-toggle="modal" data-target="#modal-delete"
                                                   data-url="{{ path('user_delete', {'id': item.id}) }}"
                                                   data-item='{"name": "{{ macros.cut(item.username, 30) }}"}'
                                                   data-token="{{ csrf_token('delete' ~ item.id) }}"
                                                   title="删除">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                                #}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'User'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            // bind daterangepicker
            var timeFormat = 'YYYY-MM-DD';
            var $loginTimeStart = $('input[name="loginTimeStart"]');
            var $loginTimeEnd = $('input[name="loginTimeEnd"]');
            var $createdAtStart = $('input[name="createdAtStart"]');
            var $createdAtEnd = $('input[name="createdAtEnd"]');
            $loginTimeStart.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $loginTimeEnd.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $loginTimeEnd.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $loginTimeEnd.data('daterangepicker').minDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 00:00:00');
            });
            $loginTimeEnd.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $loginTimeStart.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $loginTimeStart.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $loginTimeStart.data('daterangepicker').maxDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 23:59:59');
            });
            $createdAtStart.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtEnd.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtEnd.data('daterangepicker').minDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 00:00:00');
            });
            $createdAtEnd.daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                singleClasses: "picker_2",
                locale: {
                    format: timeFormat
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                $createdAtStart.data('daterangepicker').setStartDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').setEndDate(picker.startDate.format(timeFormat));
                $createdAtStart.data('daterangepicker').maxDate = picker.startDate;
                $(this).val(picker.startDate.format(timeFormat) + ' 23:59:59');
            });
        });
    </script>
    {% include '/backend/includes/delete.js.html.twig' with {title: 'User'} %}
{% endblock %}
