{% extends 'backend/base.html.twig' %}

{% block title %}用户管理{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">基本信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <div class="media">
                                                    <div class="media-left">
                                                        {% if user.avatarUrl %}
                                                            <img src="{{ user.avatarUrl }}" alt="MaterialPro" class="media-object"
                                                                 style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                        {% endif %}
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <h5>昵称: {{ user.nickname }}</h5>
                                                            <h5>性别: {{ user.gender }}</h5>
                                                            <h5>城市: {{ user.location }}</h5>
                                                            <h5>待发用户返现: ￥{{ user.pendingTotalRewards|default(0)|number_format }}</h5>
                                                            <h5>用户返现总额: ￥{{ user.totalRewards|default(0)|number_format }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        {{ form_start(form) }}
                        <div class="col-sm-12 col-md-2">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">用户角色</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-address-card"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        {{ form_row(form.roles) }}
                                        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        {{ form_end(form) }}
                        <div class="col-sm-12 col-md-7">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">收货地址</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('user_address_new', {userId: user.id}) }}" type="button" class="btn btn-info btn-sm pull-left">添加</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px; overflow-y: scroll;">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th width="10%">地址ID</th>
                                                    <th width="10%">地址</th>
                                                    <th width="10%">姓名</th>
                                                    <th width="10%">电话</th>
                                                    <th width="10%">默认</th>
                                                    <th width="10%">删除</th>
                                                    <th width="10%" class="text-center hidden-xs">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if user.userAddresses.count %}
                                                    {% for item in user.userAddresses %}
                                                        {% if not item.isDeleted %}
                                                            <tr>
                                                                <td>{{ item.id }}</td>
                                                                <td>{{ item.address }}</td>
                                                                <td>{{ item.name }}</td>
                                                                <td>{{ item.phone }}</td>
                                                                <td>{{ item.isDefault }}</td>
                                                                <td>{{ item.isDeleted }}</td>
                                                                <td class="text-center">
                                                                    <div class="btn-group">
                                                                        <a href="{{ path('user_address_edit', {id: item.id}) }}"
                                                                           title="编辑">
                                                                            <span class="fa fa-edit"></span>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="7" class="alert">no records found</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /table -->
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5次分享</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('share_source_index', {userId: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">分享源ID</th>
                                                <th width="10%">分享源类型</th>
                                                <th width="10%">产品ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">分享页</th>
                                                <th width="10%">分享源创建时间</th>
                                                <th width="10%" class="text-center hidden-xs">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.shareSources.count %}
                                                {% for item in user.shareSources.slice(0, 5) %}
                                                    <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.typeText|default }}</td>
                                                        <td>
                                                            {% if item.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.product.id }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if item.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.product.title }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.page }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('share_source_info', {id: item.id}) }}"
                                                                   title="查看详情">
                                                                    <span class="fa fa-arrow-circle-right"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="7" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="7">总计分享({{ user.shareSources.count }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5次订单收益</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('user_statistics_info', {id: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">收益金额</th>
                                                <th width="10%">创建时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.groupUserOrders.count %}
                                                {% for item in user.groupUserOrders.slice(0, 5) %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.id }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.orderRewards|default(0)|number_format }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="3" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="3">总订单收益({{ userStatisticsTotal.orderRewardsTotal|default(0)|number_format }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5次传销收益</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('user_statistics_info', {id: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">拼团ID</th>
                                                <th width="10%">用户ID</th>
                                                <th width="10%">收益金额</th>
                                                <th width="10%">创建时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.groupUserOrderRewards.count %}
                                                {% for item in user.groupUserOrderRewards.slice(0, 5) %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.groupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {% if item.groupUserOrder.groupOrder %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('group_order_info', {'id': item.groupUserOrder.groupOrder.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.groupUserOrder.groupOrder.id|default }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.user.id }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.userRewards|default(0)|number_format }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="5">总传销收益({{ userStatisticsTotal.userRewardsTotal|default(0)|number_format }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5张订单</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('group_user_order_index', {userId: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">拼团ID</th>
                                                <th width="10%">产品ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">支付金额</th>
                                                <th width="10%">订单状态</th>
                                                <th width="10%">支付状态</th>
                                                <th width="10%">创建时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.groupUserOrders.count %}
                                                {% for item in user.groupUserOrders.slice(0, 5) %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {% if item.groupOrder %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('group_order_info', {'id': item.groupOrder.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.groupOrder.id|default }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if item.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.product.id }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if item.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.product.title }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.total|default(0)|number_format }}</td>
                                                        <td>{{ item.statusText }}</td>
                                                        <td>{{ item.paymentStatusText }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="8" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="8">总订单数({{ user.groupUserOrders.count }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5个用户行为</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('user_activity_index', {userId: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">访问时间</th>
                                                <th width="10%">页面</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if user.userActivities.count %}
                                                {% for item in user.userActivities.slice(0, 5) %}
                                                    <tr>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td>{{ item.page }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="2" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="2">总行为数({{ user.userActivities.count }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">最近5个产品评价</h3>

                                    <div class="box-tools pull-right">
                                        <a href="{{ path('product_review_index', {userId: user.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">产品ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">评分</th>
                                                <th width="10%">评价</th>
                                                <th width="10%">创建时间</th>
                                                <th width="10%" class="text-center hidden-xs">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if productReviews is not empty %}
                                                {% for item in productReviews %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.groupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.groupUserOrder.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.product.id }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.product.title }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.rate }}</td>
                                                        <td>{{ item.review }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('product_review_edit', {id: item.id}) }}"
                                                                   target="_blank" title="编辑">
                                                                    <span class="fa fa-edit"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="7" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="7">总产品评价数({{ productReviewsTotal.total }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
