{% extends 'backend/base.html.twig' %}

{% block title %}用户管理{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <div class="col-md-4 table-responsive">
                        <h3 class="box-title">基本信息</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="col-md-3">用户ID</th>
                                <td class="col-md-9">{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>姓名</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>会员等级</th>
                                <td>{{ user.userLevelText }}</td>
                            </tr>
                            <tr>
                                <th>变现等级</th>
                                <td>{{ user.bianxianUserLevelText }}</td>
                            </tr>
                            <tr>
                                <th>电话</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <th>微信昵称</th>
                                <td>{{ user.nickname }}</td>
                            </tr>
                            <tr>
                                <th>头像</th>
                                <td>
                                    {% if (user.avatarUrl) %}
                                        <img class="img img-responsive" width="100px" height="100px"
                                             src="{{ user.avatarUrl }}">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>创建时间</th>
                                <td>{{ user.createdAt }}</td>
                            </tr>
                            <tr>
                                <th>上次登录时间</th>
                                <td>{{ user.lastLogin ? user.lastLogin|date : '' }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4 table-responsive">
                        <h3 class="box-title">账户信息</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="col-md-3">账户余额</th>
                                <td class="col-md-9">￥{{ user.userAccountTotal }}</td>
                            </tr>
                            <tr>
                                <th>已提现</th>
                                <td>￥{{ user.withdrawedTotal }}</td>
                            </tr>
                            <tr>
                                <th>提现中</th>
                                <td>￥{{ user.withdrawingTotal }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a class="btn btn-danger" href="{{ path('user_account_order_index', {userId: user.id}) }}">{{ '账户详情'|trans }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4 table-responsive">
                        <h3 class="box-title">名额信息</h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="col-md-3">剩余名额</th>
                                <td class="col-md-9">{{ user.recommandStock }}</td>
                            </tr>
                            <tr>
                                <th>已用名额</th>
                                <td>{{ user.totalUserAccountOrdersAsRecommander }}</td>
                            </tr>
                            <tr>
                                <th>总名额</th>
                                <td>{{ user.totalRecommandStock }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a class="btn btn-danger" href="{{ path('user_stock_index', {userId: user.id}) }}">{{ '名额详情'|trans }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-8 table-responsive">
                        {{ render(controller('App\\Controller\\Backend\\UserAddressController::index', {userId: user.id})) }}
                    </div>

                </div>
            </div>

            <!-- general form elements disabled -->
            <div class="box">
                <div class="box-header with-border">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <b>认证推荐人</b>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/user/_form.verifyParent.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- general form elements disabled -->
            {% if user.isPartnerUser %}
            <div class="box">
                <div class="box-header with-border">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <b>认证合伙人讲师</b>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/user/_form.verifyPartnerTeacher.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>
            {% endif %}
            <!-- /.box -->


            <!-- general form elements disabled -->
            <div class="box">
                <div class="box-header with-border">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <b>编辑个人资料</b>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/user/_form.html.twig', {'button_label': '提交'}) }}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
{% endblock %}