{% extends 'backend/base.html.twig' %}

{% block title %}GroupUserOrderRewards{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('group_user_order_rewards_new') }}" type="button" class="btn btn-info pull-right">添加</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-3 form-group">
                                <label>用户ID</label>
                                <input type="number" name="userId" class="form-control" value="{{ form.userId }}"
                                       placeholder="按 用户ID 查询">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>用户名</label>
                                <input type="text" name="username" class="form-control" value="{{ form.username }}"
                                       placeholder="按 用户名 查询">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">用户ID</th>
                                <th width="10%">用户昵称</th>
                                <th width="10%">收益总额</th>
                                <th width="10%">拼团收益总额</th>
                                <th width="10%">传销收益总额</th>
                                <th width="10%">最后收益来源 拼团订单ID</th>
                                <th width="10%">最后收益来源 产品名</th>
                                <th width="10%">最后收益来源 时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                {{ item.user.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                {{ item.user.nickname }}
                                            </a>
                                        </td>
                                        <td>{{ item.rewardsTotal|default(0)|number_format }}</td>
                                        <td>{{ item.orderRewardsTotal|default(0)|number_format }}</td>
                                        <td>{{ item.userRewardsTotal|default(0)|number_format }}</td>
                                        <td>
                                            {% if item.user.lastRewardsGroupOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('group_order_info', {'id': item.user.lastRewardsGroupOrder.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.user.lastRewardsGroupOrder.id|default }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.user.lastRewardsGroupOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.user.lastRewardsGroupOrder.product.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.user.lastRewardsGroupOrder.product.title|default }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.user.lastRewardsGroupOrder.createdAt|default }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('user_rewards_info', {id: item.user.id}) }}"
                                                   title="查看详情">
                                                    <span class="fa fa-hand-o-right fa-2x"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="alert alert-warning">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'GroupUserOrderRewards'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'GroupUserOrderRewards'} %}
{% endblock %}
