{% extends 'backend/base.html.twig' %}

{% block title %}ProductStatistics{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>产品ID</label>
                                <input type="number" name="productId" class="form-control" value="{{ form.productId }}"
                                       placeholder="按 产品ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>年</label>
                                <select name="year" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in yearStart..yearEnd %}
                                        <option value="{{ i }}"{% if form.year == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>月</label>
                                <select name="month" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in 1..12 %}
                                        <option value="{{ i }}"{% if form.month == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>日</label>
                                <select name="day" class="form-control chosen">
                                    <option value="">选择</option>
                                    {% for i in 1..31 %}
                                        <option value="{{ i }}"{% if form.day == i %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">产品ID</th>
                                <th width="10%">产品名</th>
                                <th width="10%">销售总额</th>
                                <th width="10%">订单数量</th>
                                <th width="10%">用户数量</th>
                                <th width="10%">复购用户数量</th>
                                <th width="10%">复购率</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.productStatistics.product.id }}</td>
                                        <td>{{ item.productStatistics.product.title }}</td>
                                        <td>{{ item.orderAmountTotal|default(0)|number_format }}</td>
                                        <td>{{ item.orderNum|default(0) }}</td>
                                        <td>{{ item.buyersNum|default(0) }}</td>
                                        <td>{{ item.returnUsersNum|default(0) }}</td>
                                        <td>{{ 'TODO: ???' }}%</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('product_statistics_info', {'id': item.productStatistics.id}) }}" title="查看详情">
                                                    <span class="fa fa-hand-o-right fa-2x"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="8" class="alert alert-warning">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'ProductStatistics'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'ProductStatistics'} %}
{% endblock %}
