{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="control-label required" for="product_status">状态: <span class="label-info">{{ product.statusText }}</span></label>
    </div>
    <div class="form-group">
        <label class="control-label required" for="product_status">创建时间: <span class="label-info">{{ product.createdAt }}</span></label>
    </div>
    <div class="form-group">
        <label class="control-label required" for="product_status">更新时间: <span class="label-info">{{ product.updatedAt }}</span></label>
    </div>
    <a class="btn btn-danger" href="{{ path('product_index') }}">{{ 'Back to list'|trans }}</a>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}