{% extends 'backend/base.html.twig' %}

{% block title %}Product{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <!-- general form elements disabled -->
            <div class="box">
                <div class="box-header with-border">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include('backend/product/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
        <div class="col-xs-12 col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">最近5条产品评价</h3>

                    <div class="box-tools pull-right">
                        {#<a href="{{ path('product_review_new', {productId: product.id}) }}" type="button" class="btn btn-info btn-sm pull-left">添加</a>#}
                        <a href="{{ path('product_review_index', {productId: product.id}) }}" type="button" class="btn btn-link btn-sm pull-left">更多</a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="5%">拼团订单ID</th>
                                <th width="5%">用户ID</th>
                                <th width="10%">用户名</th>
                                <th width="10%">评分</th>
                                <th width="10%">评价</th>
                                <th width="10%">状态</th>
                                <th width="10%">创建时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if product.productReviews.count %}
                                {% for item in product.productReviews.slice(0, 5) %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.groupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.id }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupUserOrder.user.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.user.id }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupUserOrder.user.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.user.nickname }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.rate }}</td>
                                        <td>{{ item.review }}</td>
                                        <td>{{ item.statusText }}</td>
                                        <td>{{ item.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('product_review_edit', {id: item.id, productId: item.product.id}) }}"
                                                   title="修改">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="9">总计({{ product.productReviews.count }})</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <div class="col-xs-12 col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">总评价数量({{ statistics.totalReviewed }})</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body chart-responsive">
                    <div class="chart" id="rate-chart" style="min-height: 200px;"></div>

                    <div class="progress-group">
                        <span class="progress-text">好评率({{ (statistics.favorableRate * 100)|number_format(2, '.') }}%)</span>
                        <span class="progress-number"><b>{{ statistics.totalRate5|default(0) }}</b>/{{ statistics.totalReviewed|default(0) }}</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-yellow"
                                 style="width: {{ statistics.favorableRate * 100 }}%"></div>
                        </div>
                    </div>
                    <!-- /.progress-group -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">推荐产品</h3>

                    <div class="box-tools pull-right">
                        <a href="{{ path('product_similar_new', {productId: product.id}) }}" type="button" class="btn btn-info btn-sm pull-left">添加</a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">Id</th>
                                <th width="10%">推荐产品ID</th>
                                <th width="10%">推荐产品名</th>
                                <th width="10%">推荐产品图片</th>
                                <th width="10%">创建日期</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if product.productSimilars.count %}
                                {% for item in product.productSimilars %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.similarProduct.id}) }}" target="_blank" title="查看详情">
                                                {{ item.similarProduct.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.similarProduct.id}) }}" target="_blank" title="查看详情">
                                                {{ item.similarProduct.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if item.similarProduct.mainProductImage %}
                                                <img src="{{ path('imagePreview', {fileId: item.similarProduct.mainProductImage.file.id}) }}" width="40" height="40"/>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('product_similar_edit', {'id': item.id}) }}"
                                                   title="修改">
                                                    <span class="fa fa-edit"></span>
                                                </a>&nbsp;
                                                <a class="delete" data-toggle="modal" data-target="#modal-delete"
                                                   data-url="{{ path('product_similar_delete', {'id': item.id}) }}"
                                                   data-item='{"name": "{{ macros.cut(item.id, 30) }}"}'
                                                   data-token="{{ csrf_token('delete' ~ item.id) }}"
                                                   title="删除">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6">总计({{ product.productSimilars.count }})</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'ProductSimilar'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            "use strict";
            // Rate BAR CHART
            var bar = new Morris.Bar({
                element: 'rate-chart',
                resize: true,
                data: [
                    {y: 'Rate 1', total: {{ statistics.totalRate1|default(0) }}},
                    {y: 'Rate 2', total: {{ statistics.totalRate2|default(0) }}},
                    {y: 'Rate 3', total: {{ statistics.totalRate3|default(0) }}},
                    {y: 'Rate 4', total: {{ statistics.totalRate4|default(0) }}},
                    {y: 'Rate 5', total: {{ statistics.totalRate5|default(0) }}},
                ],
                barColors: ['#f56954'],
                xkey: 'y',
                ykeys: ['total'],
                labels: ['Total'],
                hideHover: 'auto'
            });
            {% if product.groupOrderRewards + product.groupOrderUserRewards + product.regularOrderRewards + product.regularOrderUserRewards > 0 %}
            // Rewards DONUT CHART
            var donut = new Morris.Donut({
                element: 'pieChart',
                resize: true,
                colors: ["#f56954", "#00a65a", "#f39c12", "#00c0ef"],
                data: [
                    {label: "拼团订单收益", value: {{ product.groupOrderRewards }}},
                    {label: "拼团订单传销收益", value: {{ product.groupOrderUserRewards }}},
                    {label: "普通订单收益", value: {{ product.regularOrderRewards }}},
                    {label: "普通订单传销收益", value: {{ product.regularOrderUserRewards }}}
                ],
                hideHover: 'auto'
            });
            {% endif %}
            {% if projectRewardsMeta %}
            //  preview rewards changes
            $('#product_rewards').on('keyup', function (e) {
                var rewards = $(this).val();
                $('#rewardsSpan').text(rewards);
                var groupOrderRewards = (rewards * {{ projectRewardsMeta.groupOrderRewardsRate }}).toFixed(2);
                var groupOrderUserRewards = (rewards * {{ projectRewardsMeta.groupOrderUserRewardsRate }}).toFixed(2);
                var regularOrderRewards = (rewards * {{ projectRewardsMeta.regularOrderRewardsRate }}).toFixed(2);
                var regularOrderUserRewards = (rewards * {{ projectRewardsMeta.regularOrderUserRewardsRate }}).toFixed(2);
                new Morris.Donut({
                    element: 'pieChart',
                    resize: true,
                    colors: ["#f56954", "#00a65a", "#f39c12", "#00c0ef"],
                    data: [
                        {label: "拼团订单收益", value: groupOrderRewards},
                        {label: "拼团订单传销收益", value: groupOrderUserRewards},
                        {label: "普通订单收益", value: regularOrderRewards},
                        {label: "普通订单传销收益", value: regularOrderUserRewards}
                    ],
                    hideHover: 'auto'
                });
                $('#groupOrderRewardsSpan').text(groupOrderRewards);
                $('#groupOrderUserRewardsSpan').text(groupOrderUserRewards);
                $('#regularOrderRewardsSpan').text(regularOrderRewards);
                $('#regularOrderUserRewardsSpan').text(regularOrderUserRewards);
            });
            {% endif %}
        });
    </script>
    {% include '/backend/includes/delete.js.html.twig' with {title: 'ProductSimilar'} %}
{% endblock %}
