{% extends 'backend/base.html.twig' %}

{% block title %}活动订单{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>活动订单号</label>
                                <input type="number" name="groupUserOrderId" class="form-control"
                                       value="{{ form.groupUserOrderId > 0 ? form.groupUserOrderId : '' }}"
                                       placeholder="按 订单ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>用户ID</label>
                                <input type="number" name="userId" class="form-control"
                                       value="{{ form.userId > 0 ? form.userId : '' }}"
                                       placeholder="按 用户ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>活动名称</label>
                                <input type="text" name="productName" class="form-control"
                                       value="{{ form.productName }}"
                                       placeholder="按活动名称查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>订单状态</label>
                                <select name="status" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for status, text in statuses %}
                                        <option value="{{ status }}"{% if status == form.status %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>支付状态</label>
                                <select name="paymentStatus" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for paymentStatus, text in paymentStatuses %}
                                        <option value="{{ paymentStatus }}"{% if paymentStatus == form.paymentStatus %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                            <div class="col-md-1 form-group">
                                <label>&nbsp;</label>
                                <a class="form-control btn btn-danger" href="{{ path('offline_course_order_export', {'groupUserOrderId':form.groupUserOrderId, 'userId':form.userId, 'productName':form.productName, 'status':form.status, 'paymentStatus':form.paymentStatus }) }}"
                                   title="导出">
                                    导出
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">活动订单号</th>
                                <th class="col-md-1">创建时间</th>
                                <th class="col-md-1">活动</th>
                                <th class="col-md-2">用户</th>
                                <th class="col-md-2">推荐人</th>
                                <th class="col-md-1">支付金额</th>
                                <th class="col-md-1">订单状态</th>
                                <th class="col-md-1">支付状态</th>
                                <th class="col-md-2 text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.createdAtFormatted }}</td>
                                        <td>
                                            {{ item.product.title }}
                                        </td>
                                        <td>
                                            {{ item.user }}
                                        </td>
                                        <td>
                                            {{ item.user.parentUser }}
                                        </td>
                                        <td>{{ item.total }}</td>
                                        <td>{{ item.courseStatusText }}</td>
                                        <td>{{ item.paymentStatusText }}</td>

                                        <td class="text-center">
                                            <div class="btn-group">
                                                {% if item.isNeedAdminConfirm %}
                                                    <a class="admin-confirm" data-toggle="modal" data-target="#modal-recommend"
                                                       data-url="{{ path('adminConfirm', {'id': item.id}) }}"
                                                       data-item='{"name": "{{ item.user.name }}", "title": "{{ item.product.title }}"}' title="报名确认">报名确认 </a>
                                                {% endif %}
                                                <a href="{{ path('offline_course_order_edit', {'id': item.id}) }}"
                                                   title="查看详情">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <div class="modal fade" id="modal-recommend" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="recommend" action="#" method="post">
                        <input type="hidden" name="_token" value="">
                        <input type="hidden" name="groupUserOrderId" value="{{ form.groupUserOrderId }}">
                        <input type="hidden" name="userId" value="{{ form.userId }}">
                        <input type="hidden" name="productName" value="{{ form.productName }}">
                        <input type="hidden" name="status" value="{{ form.status }}">
                        <input type="hidden" name="paymentStatus" value="{{ form.paymentStatus }}">
                        <input type="hidden" name="page" value="{{ form.page }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">后台审核</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-info"></div>
                            <div class="well"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-danger" data-dismiss="modal">取消</a>
                            <input class="submit btn btn-primary" type="submit" value="确定"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'GroupUserOrder'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'GroupUserOrder'} %}
    <script type="text/javascript">
        $(function() {
            $('.admin-confirm').on('click', function (e) {
                e.preventDefault();
                let self = $(this);
                let item = (self.data('item'));
                $('#modal-recommend .well').html(item.name + ' 报名 [' + item.title + ']');
                $('#modal-recommend form').attr("action", $(this).data('url'));
                $('#modal-recommend form input[name="_token"]').val($(this).data('token'));
            });
        });
    </script>
{% endblock %}
