{% extends 'backend/base.html.twig' %}

{% block title %}Group User Order Info{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">订单详情</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                                                    订单ID ─ {{ group_user_order.id }}
                                                </h4>
                                                <div class="media">
                                                    <div class="media-left">
                                                        {% if group_user_order.groupOrder.product.productImages.count %}
                                                            <a href="{{ path('product_edit', {id: group_user_order.groupOrder.product.id}) }}"
                                                               class="ad-click-event">
                                                                <img src="{{ path('imagePreview', {fileId: group_user_order.groupOrder.product.productImages.first.file.id}) }}"
                                                                     alt="MaterialPro" class="media-object"
                                                                     style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <p class="pull-right">
                                                                <a href="{{ path('group_order_info', {id: group_user_order.groupOrder.id}) }}"
                                                                   class="btn btn-info btn-sm ad-click-event">查看拼团</a>
                                                            </p>

                                                            <h4 style="margin-top: 0">用户 ─ {{ group_user_order.user.username }}</h4>
                                                            <h4 style="margin-top: 0">电话 ─ {{ group_user_order.userAddress.phone|default }}</h4>
                                                            <h4 style="margin-top: 0">产品名 ─ {{ group_user_order.groupOrder.product.title }}</h4>
                                                            <h4 style="margin-top: 0">产品价格 ─ {{ group_user_order.groupOrder.product.price|number_format }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        {{ form_start(form) }}
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">订单状态 ─ <span class="label label-danger">{{ group_user_order.statusText }}</span></h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        {{ form_row(form.carrierName) }}
                                        {{ form_row(form.trackingNo) }}
                                        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">支付状态 ─ <span class="label label-danger">{{ group_user_order.paymentStatusText }}</span></h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        {{ form_row(form.total) }}
                                        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">订单信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="invoice-col">
                                        订单号: <strong>{{ group_user_order.id }}</strong>
                                        <address>
                                            姓名: <strong>{{ group_user_order.userAddress.name|default }}</strong><br>
                                            电话: {{ group_user_order.userAddress.phone|default }}<br>
                                            物流地址: {{ group_user_order.userAddress.address|default }}<br>
                                        </address>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">操作记录</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">用户ID</th>
                                                <th width="10%">用户名</th>
                                                <th width="10%">状态变化</th>
                                                <th width="10%">创建时间</th>
                                                {#<th width="10%" class="text-center hidden-xs">操作</th>#}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if group_user_order.groupUserOrderLogs.count > 1 %}
                                                {% for item in group_user_order.groupUserOrderLogs.slice(0, 5) %}
                                                    <tr>
                                                        <td>{{ item.user.id }}</td>
                                                        <td>{{ item.user.nickname }}</td>
                                                        <td>{{ item.description }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                        {#
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('group_user_order_log_index', {id: item.id}) }}"
                                                                   title="查看详情">
                                                                    <span class="fa fa-arrow-circle-right"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        #}
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">拼团信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">订单ID</th>
                                                <th width="10%">用户ID</th>
                                                <th width="10%">用户名</th>
                                                <th width="10%">角色</th>
                                                <th width="10%">订单状态</th>
                                                <th width="10%">支付状态</th>
                                                <th width="10%">支付金额</th>
                                                <th width="10%">创建时间</th>
                                                <th width="10%" class="text-center hidden-xs">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if group_user_order.groupOrder.groupUserOrders.count > 1 %}
                                                {% for item in group_user_order.groupOrder.groupUserOrders %}
                                                    {% if item.id != group_user_order.id %}
                                                    <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.user.id }}</td>
                                                        <td>{{ item.user.username }}</td>
                                                        <td>{{ item.role }}</td>
                                                        <td>{{ item.statusText }}</td>
                                                        <td>{{ item.paymentStatusText }}</td>
                                                        <td>{{ item.total|number_format }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('group_user_order_info', {id: item.id}) }}"
                                                                   title="查看详情">
                                                                    <span class="fa fa-arrow-circle-right"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="9" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">客户评价</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">评价ID</th>
                                                <th width="10%">评分</th>
                                                <th width="10%">评价</th>
                                                <th width="10%">图片</th>
                                                <th width="10%">评价时间</th>
                                                <th width="10%" class="text-center hidden-xs">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if group_user_order.productReviews.count %}
                                                {% for item in group_user_order.productReviews %}
                                                    <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.rate }}</td>
                                                        <td>{{ item.review }}</td>
                                                        <td>
                                                            {% if item.productReviewImages.count %}
                                                                {% for productReviewImage in item.productReviewImages %}
                                                                    <img src="{{ path('imagePreview', {fileId: productReviewImage.imageFile.id}) }}" width="40" height="40"/>
                                                                    {% if not loop.last %}<br />{% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('product_review_edit', {id: item.id, productId: item.product.id}) }}"
                                                                   title="修改">
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="6" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
