{% extends 'backend/base.html.twig' %}

{% block title %}集call订单{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>集call ID</label>
                                <input type="text" name="groupOrderId" class="form-control" value="{{ form.groupOrderId > 0 ? form.groupOrderId : '' }}"
                                       placeholder="按 集callID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>集call订单ID</label>
                                <input type="number" name="groupUserOrderId" class="form-control" value="{{ form.groupUserOrderId > 0 ? form.groupUserOrderId : '' }}"
                                       placeholder="按 集call订单ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>集call用户ID</label>
                                <input type="number" name="userId" class="form-control" value="{{ form.userId > 0 ? form.userId : '' }}"
                                       placeholder="按 拼团用户ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>产品名</label>
                                <input type="text" name="productName" class="form-control" value="{{ form.productName }}"
                                       placeholder="按 产品名 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>状态</label>
                                <select name="status" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for status, text in statuses %}
                                        <option value="{{ status }}"{% if status == form.status %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">集call ID</th>
                                <th class="col-md-2">团长</th>
                                <th class="col-md-3">课程</th>
                                <th class="col-md-2">讲师</th>
                                <th class="col-md-1">状态</th>
                                <th class="col-md-1">创建时间</th>
                                <th class="col-md-1">过期时间</th>
                                <th class="col-md-1 text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>
                                            {{ item.user }}
                                        </td>
                                        <td>
                                            {{ item.product.title }}
                                        </td>
                                        <td>
                                            {{ item.product.course.teacher.user }}
                                        </td>
                                        <td>{{ item.statusText }}</td>
                                        <td>{{ item.createdAt }}</td>
                                        <td>{{ item.expiredAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('group_order_info', {'id': item.id}) }}" title="查看详情">
                                                    <span class="fa fa-arrow-circle-right"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="8" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'GroupOrder'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'GroupOrder'} %}
{% endblock %}
