{% extends 'backend/base.html.twig' %}

{% block title %}Group Order Info{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">拼团信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <div class="media">
                                                    <div class="media-left">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <h5>
                                                                拼团ID: {{ group_order.id }}
                                                            </h5>
                                                            <h5>拼团创建时间: {{ group_order.createdAt }}</h5>
                                                            <h5>拼团结束时间: {{ group_order.completedAt }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">产品信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <h5>
                                                                产品ID:
                                                                <a href="{{ path('product_edit', {id: group_order.product.id}) }}"
                                                                   target="_blank" class="btn btn-info btn-xs ad-click-event">
                                                                    {{ group_order.product.id }}
                                                                </a>
                                                            </h5>
                                                            <h5>产品名: {{ group_order.product.title }}</h5>
                                                            <h5>拼团价格: {{ group_order.product.groupPrice|number_format }}</h5>
                                                            <h5>产品状态: {{ group_order.product.statusText }}</h5>

                                                            <p>{{ macros.cut(group_order.product.shortDescription, 50) }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="media-right">
                                                        {% if group_order.product.mainProductImage %}
                                                            <a href="{{ path('product_edit', {id: group_order.product.id}) }}"
                                                               class="ad-click-event">
                                                                <img src="{{ path('imagePreview', {fileId: group_order.product.mainProductImage.file.id}) }}"
                                                                     alt="MaterialPro" class="media-object"
                                                                     style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <!-- BAR CHART -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">拼团状态</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart" style="height: 200px;">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">订单信息</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%">订单ID</th>
                                                <th width="5%">用户ID</th>
                                                <th width="10%">角色</th>
                                                <th width="10%">产品ID</th>
                                                <th width="10%">产品名</th>
                                                <th width="10%">拼团价格</th>
                                                <th width="10%">订单状态</th>
                                                <th width="10%">支付状态</th>
                                                <th width="10%">支付金额</th>
                                                <th width="10%">创建时间</th>
                                                <th width="10%" class="text-center hidden-xs">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if group_order.groupUserOrders.count %}
                                                {% for item in group_order.groupUserOrders %}
                                                    <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>
                                                            <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                                {{ item.user.id }}
                                                            </a>
                                                        </td>
                                                        <td>{{ item.role }}</td>
                                                        <td>
                                                            {% if item.groupOrder.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.groupOrder.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.groupOrder.product.id }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if item.groupOrder.product %}
                                                                <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.groupOrder.product.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.groupOrder.product.title }}
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ item.groupOrder.product.groupPrice|number_format }}</td>
                                                        <td>{{ item.statusText }}</td>
                                                        <td>{{ item.paymentStatusText }}</td>
                                                        <td>{{ item.total|number_format }}</td>
                                                        <td>{{ item.createdAt }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <a href="{{ path('group_user_order_info', {id: item.id}) }}"
                                                                   title="查看详情">
                                                                    <span class="fa fa-arrow-circle-right"></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="11" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="11">总计({{ group_order.groupUserOrders.count }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">打开分享用户</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%">用户ID</th>
                                                <th width="10%">用户昵称</th>
                                                <th width="10%">打开时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set shareSourceUsersTotal = 0 %}
                                            {% if group_order.shareSources.count %}
                                                {% for shareSource in group_order.shareSources %}
                                                    {% for item in shareSource.shareSourceUsers %}
                                                        {% set shareSourceUsersTotal = shareSourceUsersTotal + 1 %}
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.user.id }}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.user.id}) }}" target="_blank" title="查看详情">
                                                                    {{ item.user.nickname }}
                                                                </a>
                                                            </td>
                                                            <td>{{ item.createdAt }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="3" class="alert">no records found</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="3">总计({{ shareSourceUsersTotal|default(0) }})</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /table -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
