{{ form_start(form) }}
    {{ form_widget(form) }}
<a class="btn btn-danger" href="{{ path('product_review_index') }}">{{ '返回产品评价'|trans }}</a>
<button class="btn btn-primary">{{ button_label|default('提交') }}</button>
{{ form_end(form) }}