{% extends 'backend/base.html.twig' %}

{% block title %}ProductReview{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('product_review_new') }}" type="button" class="btn btn-info pull-right">添加</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-2 form-group">
                                <label>产品ID</label>
                                <input type="number" name="productId" class="form-control" value="{{ form.productId > 0 ? form.productId : '' }}"
                                       placeholder="按 产品ID 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>评分</label>
                                <input type="number" name="rate" class="form-control" value="{{ form.rate > 0 ? form.rate : '' }}"
                                       placeholder="按 评分 查询">
                            </div>
                            <div class="col-md-2 form-group">
                                <label>状态</label>
                                <select name="status" class="form-control chosen">
                                    <option value="">全部</option>
                                    {% for status, text in statuses %}
                                        <option value="{{ status }}"{% if status == form.status %} selected{% endif %}>{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="5%">产品ID</th>
                                <th width="10%">产品名称</th>
                                <th width="5%">拼团订单ID</th>
                                <th width="5%">用户ID</th>
                                <th width="10%">用户名</th>
                                <th width="10%">评分</th>
                                <th width="10%">评价</th>
                                <th width="10%">状态</th>
                                <th width="10%">创建时间</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                {{ item.product.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ path('product_edit', {'id': item.product.id}) }}" target="_blank" title="查看详情">
                                                {{ item.product.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('group_user_order_info', {'id': item.groupUserOrder.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.id }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupUserOrder.user.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.user.id }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.groupUserOrder %}
                                                <a class="btn btn-info btn-xs" href="{{ path('user_info', {'id': item.groupUserOrder.user.id}) }}" target="_blank" title="查看详情">
                                                    {{ item.groupUserOrder.user.nickname }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.rate }}</td>
                                        <td>{{ item.review }}</td>
                                        <td>{{ item.statusText }}</td>
                                        <td>{{ item.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('product_review_edit', {id: item.id}) }}"
                                                   title="修改">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11" class="alert">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'ProductReview'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'ProductReview'} %}
{% endblock %}
