{% extends 'backend/base.html.twig' %}

{% block title %}ProductSimilar{% endblock %}

{% import 'form/macros.html.twig' as macros %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    {% include "backend/includes/app.session.flashbag.html.twig" %}
                    <h3 class="box-title">总计 ({{ pagination.getTotalItemCount }})</h3>
                    <a href="{{ path('product_similar_new') }}" type="button" class="btn btn-info pull-right">添加</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="cmxform" id="myForm">
                            <div class="col-md-3 form-group">
                                <label>产品ID</label>
                                <input type="number" name="productId" class="form-control" value="{{ form.productId }}"
                                       placeholder="按 产品ID 查询">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>&nbsp;</label>
                                <input class="form-control btn btn-primary" type="submit" value="搜索"/>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%">Id</th>
                                <th width="10%">产品ID</th>
                                <th width="10%">产品名</th>
                                <th width="10%">产品图片</th>
                                <th width="10%">推荐产品ID</th>
                                <th width="10%">推荐产品名</th>
                                <th width="10%">推荐产品图片</th>
                                <th width="10%">创建日期</th>
                                <th width="10%" class="text-center hidden-xs">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pagination.getTotalItemCount %}
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.product.id }}</td>
                                        <td>{{ item.product.title }}</td>
                                        <td>
                                            {% if item.product.productImages.count %}
                                                {% for productImage in item.product.productImages %}
                                                    <img src="{{ path('imagePreview', {fileId: productImage.file.id}) }}" width="40" height="40"/>
                                                    {% if not loop.last %}<br />{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.similarProduct.id }}</td>
                                        <td>{{ item.similarProduct.title }}</td>
                                        <td>
                                            {% if item.similarProduct.productImages.count %}
                                                {% for productImage in item.similarProduct.productImages %}
                                                    <img src="{{ path('imagePreview', {fileId: productImage.file.id}) }}" width="40" height="40"/>
                                                    {% if not loop.last %}<br />{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.createdAt }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{{ path('product_similar_edit', {'id': item.id}) }}"
                                                   title="修改">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>&nbsp;
                                                <a class="delete" data-toggle="modal" data-target="#modal-delete"
                                                   data-url="{{ path('product_similar_delete', {'id': item.id}) }}"
                                                   data-item='{"name": "{{ macros.cut(item.id, 30) }}"}'
                                                   data-token="{{ csrf_token('delete' ~ item.id) }}"
                                                   title="删除">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="alert alert-warning">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'backend/includes/delete.modal.html.twig' with {title: 'ProductSimilar'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '/backend/includes/delete.js.html.twig' with {title: 'ProductSimilar'} %}
{% endblock %}
