<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>推荐订单</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="table-responsive" style="min-height:200px">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-md-1">升级订单号</th>
                <th class="col-md-2">创建时间</th>
                <th class="col-md-1">用户ID</th>
                <th class="col-md-1">姓名</th>
                <th class="col-md-2">会员等级</th>
                <th class="col-md-1">订单金额</th>
                <th class="col-md-1">订单状态</th>
                <th class="col-md-1">推荐人</th>
                <th class="col-md-1 text-center hidden-xs">操作</th>
            </tr>
            </thead>
            <tbody>
            {% if pagination.getTotalItemCount %}
                {% for item in pagination %}
                    <tr>
                        <td>{{ item.UpgradeUserOrder.id }}</td>
                        <td>{{ item.UpgradeUserOrder.createdAtFormatted }}</td>
                        <td>{{ item.UpgradeUserOrder.user.id }}</td>
                        <td>{{ item.UpgradeUserOrder.user.name }}</td>
                        <td>{{ item.UpgradeUserOrder.oldUserLevelText }} -> {{ item.UpgradeUserOrder.userLevelText }}</td>
                        <td>￥{{ item.UpgradeUserOrder.total }}</td>
                        <td>{{ item.UpgradeUserOrder.statusText }}</td>
                        <td>
                            {% if item.UpgradeUserOrder.user.isRecommanderVerified %}
                                <span class="fa fa-check-square icon-cog text-green ">
                                                    </span>
                                {{ item.UpgradeUserOrder.user.parentUser }}
                            {% else %}
                                <span class="fa fa-window-close icon-cog text-red ">
                                                    </span>
                                {{ item.UpgradeUserOrder.user.recommanderName }}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{{ path('upgrade_user_order_edit', {'id': item.UpgradeUserOrder.id}) }}"
                                   title="修改">
                                    <span class="fa fa-edit">处理</span>
                                </a>&nbsp;
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11" class="alert">no records found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

</body>
</html>